Repository softeerbootcamp-2nd/H9-88Hey, pull requests merged in 2023-08, with the labels that each got.

#11 [AND] 프로젝트 구성
  android/MyCarchiving/.gitignore
  android/MyCarchiving/.idea/.gitignore
  android/MyCarchiving/.idea/kotlinc.xml
  android/MyCarchiving/app/.gitignore
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/proguard-rules.pro
  android/MyCarchiving/app/src/androidTest/java/com/softeer/mycarchiving/ExampleInstrumentedTest.kt
  android/MyCarchiving/app/src/main/AndroidManifest.xml
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/MainActivity.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Color.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Theme.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Type.kt
  android/MyCarchiving/app/src/main/res/drawable/ic_launcher_background.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/MyCarchiving/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/MyCarchiving/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/MyCarchiving/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/MyCarchiving/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/MyCarchiving/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/MyCarchiving/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/MyCarchiving/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/MyCarchiving/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/MyCarchiving/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/MyCarchiving/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/MyCarchiving/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/MyCarchiving/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/MyCarchiving/app/src/main/res/values/colors.xml
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/app/src/main/res/values/themes.xml
  android/MyCarchiving/app/src/main/res/xml/backup_rules.xml
  android/MyCarchiving/app/src/main/res/xml/data_extraction_rules.xml
  android/MyCarchiving/app/src/test/java/com/softeer/mycarchiving/ExampleUnitTest.kt
  android/MyCarchiving/build.gradle.kts
  android/MyCarchiving/data/.gitignore
  android/MyCarchiving/data/build.gradle.kts
  android/MyCarchiving/data/src/main/AndroidManifest.xml
  android/MyCarchiving/domain/.gitignore
  android/MyCarchiving/domain/build.gradle.kts
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/MyScreen.kt
  android/MyCarchiving/gradle.properties
  android/MyCarchiving/gradle/libs.versions.toml
  android/MyCarchiving/gradle/wrapper/gradle-wrapper.jar
  android/MyCarchiving/gradle/wrapper/gradle-wrapper.properties
  android/MyCarchiving/gradlew
  android/MyCarchiving/gradlew.bat
  android/MyCarchiving/settings.gradle.kts
Labels: 🎾 android, 📦 config

#13 [AND] 누락 의존성 추가 및 빌드 오류 수정
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/MainActivity.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/MyScreen.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🛠️ fix, 🎾 android, 📦 config

#18 [FE] 개발환경 설정 마무리 및 컴포넌트 설계 완료
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/refactoring-plan.md
  .github/PULL_REQUEST_TEMPLATE.md
  .idea/.gitignore
  .idea/H9-88Hey.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/assets/react.svg
  frontend/src/components/templates/trim/TrimTemplate.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/trim/index.tsx
  frontend/src/routes/router.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: 🕹️ feature, 🛠️ fix, 🖥️ Frontend, 📦 config

#21 [FE] 공통 컴포넌트 구현
  frontend/src/components/common/MyCarDescription/index.tsx
  frontend/src/components/common/MyCarDescription/style.tsx
  frontend/src/components/common/MyCarImageBox/index.tsx
  frontend/src/components/common/MyCarImageBox/style.tsx
  frontend/src/components/common/TrimCard/index.tsx
  frontend/src/components/common/TrimCard/style.tsx
Labels: 🕹️ feature, 🩺 refactor, 🖥️ Frontend

#22 refact: 변수명 변경 및 인터페이스 수정
  frontend/src/components/common/MyCarDescription/index.tsx
  frontend/src/components/common/MyCarImageBox/index.tsx
  frontend/src/components/common/MyCarImageBox/style.tsx
  frontend/src/components/common/TrimCard/index.tsx
  frontend/src/components/common/TrimCard/style.tsx
Labels: 🩺 refactor, 🖥️ Frontend

#24 [FE] 내 차 만들기 선택옵션 common 컴포넌트 구현
  frontend/src/assets/icon_done.svg
  frontend/src/assets/leblanc.jpeg
  frontend/src/components/common/OptionCardContainer/DefaultOptionCard/index.tsx
  frontend/src/components/common/OptionCardContainer/DefaultOptionCard/style.tsx
  frontend/src/components/common/OptionCardContainer/OptionCategory/index.tsx
  frontend/src/components/common/OptionCardContainer/OptionCategory/style.tsx
  frontend/src/components/common/OptionCardContainer/SelectOptionCard/index.tsx
  frontend/src/components/common/OptionCardContainer/SelectOptionCard/style.tsx
  frontend/src/components/common/OptionCardContainer/index.tsx
  frontend/src/components/common/OptionCardContainer/style.tsx
  frontend/src/components/common/SelectOptionDescription/index.tsx
  frontend/src/components/common/SelectOptionDescription/style.tsx
  frontend/src/components/common/SelectOptionDetail/index.tsx
  frontend/src/components/common/SelectOptionDetail/style.tsx
  frontend/src/components/common/SelectOptionImageBox/index.tsx
  frontend/src/components/common/SelectOptionImageBox/style.tsx
Labels: 🕹️ feature, 🖥️ Frontend

#27 [FE] 내차 만들기 페이지 레이아웃 구현
  frontend/src/App.tsx
  frontend/src/components/common/ArchivingLogo/index.tsx
  frontend/src/components/common/AutoSavingLogo/index.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/Footer/style.tsx
  frontend/src/components/common/NavArrowButton/index.tsx
  frontend/src/components/common/Navigation/index.tsx
  frontend/src/components/common/Navigation/style.tsx
  frontend/src/components/common/NextButton/index.tsx
  frontend/src/components/common/NextButton/style.tsx
  frontend/src/components/common/PrevButton/index.tsx
  frontend/src/components/common/PrevButton/style.tsx
  frontend/src/components/common/header/index.tsx
  frontend/src/components/common/header/style.tsx
  frontend/src/components/common/hyundaiLogo/index.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/components/layout/MyCarLayout/style.tsx
  frontend/src/components/templates/trim/TrimTemplate.tsx
  frontend/src/pages/trim/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/styles/globalStyle.tsx
  frontend/src/templates/trim/TrimTemplate.tsx
  frontend/tsconfig.json
Labels: 🕹️ feature, 🩺 refactor, 🖥️ Frontend

#29 [FE] 레이아웃 수정
  frontend/src/components/common/Navigation/index.tsx
  frontend/src/components/common/Navigation/style.tsx
  frontend/src/components/common/header/index.tsx
  frontend/src/components/common/header/style.tsx
  frontend/src/components/layout/MyCarLayout/style.tsx
Labels: 🩺 refactor, 🖥️ Frontend

#26 [BE] 스프링 프로젝트 세팅
  backend/.gitignore
  backend/HELP.md
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/softeer/h9/hey/Application.java
  backend/src/main/resources/application.properties
  backend/src/test/java/softeer/h9/hey/ApplicationTests.java
Labels: 🗄️ backend, 📦 config

#31 [BE] API 명세서 작성
  README.md
Labels: 📖 documentation, 🗄️ backend, 📐 design

#36 [BE] 자동화 배포 초기 세팅
  .github/workflows/backend_CICD.yml
  backend/build.gradle
Labels: 🗄️ backend, 📦 config

#38 [BE] MySQL 접속 세팅
  backend/build.gradle
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yaml
  backend/src/test/java/softeer/h9/hey/config/DbConnectionTest.java
Labels: 🗄️ backend, 📦 config

#42 [FE] MSW mock api 구현 및 트림 선택 페이지에 적용
  frontend/index.html
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/App.tsx
  frontend/src/assets/icons/1.svg
  frontend/src/assets/icons/10.svg
  frontend/src/assets/icons/11.svg
  frontend/src/assets/icons/12.svg
  frontend/src/assets/icons/2.svg
  frontend/src/assets/icons/3.svg
  frontend/src/assets/icons/4.svg
  frontend/src/assets/icons/5.svg
  frontend/src/assets/icons/6.svg
  frontend/src/assets/icons/7.svg
  frontend/src/assets/icons/8.svg
  frontend/src/assets/icons/9.svg
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/TrimCard/style.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/components/trim/SelectOptionCard/index.tsx
  frontend/src/components/trim/SelectOptionCard/style.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/main.tsx
  frontend/src/mocks/api/body-type/data.ts
  frontend/src/mocks/api/body-type/index.ts
  frontend/src/mocks/api/engine/data.ts
  frontend/src/mocks/api/engine/index.ts
  frontend/src/mocks/api/trim-color/data.ts
  frontend/src/mocks/api/trim-color/index.ts
  frontend/src/mocks/api/trim-default-option/data.ts
  frontend/src/mocks/api/trim-default-option/index.ts
  frontend/src/mocks/api/trim-h-genuine-accessories/data.ts
  frontend/src/mocks/api/trim-h-genuine-accessories/index.ts
  frontend/src/mocks/api/trim-n-performance/data.ts
  frontend/src/mocks/api/trim-n-performance/index.ts
  frontend/src/mocks/api/trim-select-option/data.ts
  frontend/src/mocks/api/trim-select-option/index.ts
  frontend/src/mocks/api/trim/data.ts
  frontend/src/mocks/api/trim/index.ts
  frontend/src/mocks/api/wheel-drive/data.ts
  frontend/src/mocks/api/wheel-drive/index.ts
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/index.ts
  frontend/src/pages/trim/BodyType/index.tsx
  frontend/src/pages/trim/Engine/index.tsx
  frontend/src/pages/trim/Engine/style.tsx
  frontend/src/pages/trim/WheelDrive/index.tsx
  frontend/src/pages/trim/index.tsx
  frontend/src/templates/trim/TrimTemplate.tsx
  frontend/src/types/trim.ts
Labels: 🕹️ feature, 🩺 refactor, 🖥️ Frontend

#44 [AND] 공용 컴포넌트 선언
  android/MyCarchiving/.gitignore
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/androidTest/java/com/softeer/mycarchiving/ExampleInstrumentedTest.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBar.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomSheetItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CircleItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/MyArchiveListItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/MyCarchiveButton.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/MyCharchiveDialog.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/NavigateBar.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ProgressBar.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/WriteReviewItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Color.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Shape.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Type.kt
  android/MyCarchiving/app/src/main/res/drawable/ic_archive.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_back.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_check.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_close.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_close_chip.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_close_light.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_down.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_hyundai.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_right.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_save.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_up.xml
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🎾 android

#45 [AND] 공용 UI 컴포넌트 선언
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/AndroidManifest.xml
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/OptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CircleItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ColorSelectOptionComponent.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CommonOptionComponent.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteComponent.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ExtraOptionComponent.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/LoadingComponent.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ModelSelectOptionComponent.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/TrimSelectOptionComponent.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Type.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/PriceFormatter.kt
  android/MyCarchiving/app/src/main/res/drawable/ic_cluster.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_loading_car.png
  android/MyCarchiving/app/src/main/res/drawable/ic_surround.xml
  android/MyCarchiving/app/src/main/res/drawable/ic_wheel.xml
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🎾 android

#47 [BE] MySQL 접속 세팅
  .github/workflows/backend_CICD.yml
  backend/build.gradle
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yaml
  backend/src/test/java/softeer/h9/hey/config/DbConnectionTest.java
Labels: 🗄️ backend, 📦 config

#34 [FE] 내 차 만들기 옵션선택 페이지 구현
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/common/DefaultOptionCardList/index.tsx
  frontend/src/components/common/DefaultOptionCardList/style.tsx
  frontend/src/components/common/NextButton/index.tsx
  frontend/src/components/common/NextButton/style.tsx
  frontend/src/components/common/OptionCardContainer/DefaultOptionCard/index.tsx
  frontend/src/components/common/OptionCardContainer/OptionCategory/index.tsx
  frontend/src/components/common/OptionCardContainer/SelectOptionCard/index.tsx
  frontend/src/components/common/OptionCardContainer/index.tsx
  frontend/src/components/common/OptionCardContainer/style.tsx
  frontend/src/components/common/OptionCategory/index.tsx
  frontend/src/components/common/OptionCategory/style.tsx
  frontend/src/components/common/OptionDescription/index.tsx
  frontend/src/components/common/OptionDescription/style.tsx
  frontend/src/components/common/OptionDetailCard/index.tsx
  frontend/src/components/common/OptionDetailCard/style.tsx
  frontend/src/components/common/OptionImageBox/index.tsx
  frontend/src/components/common/OptionImageBox/style.tsx
  frontend/src/components/common/PrevButton/index.tsx
  frontend/src/components/common/PrevButton/style.tsx
  frontend/src/components/common/SelectOptionCardList/index.tsx
  frontend/src/components/common/SelectOptionCardList/style.tsx
  frontend/src/components/common/SelectOptionDetail/index.tsx
  frontend/src/components/common/SelectOptionImageBox/index.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/Option/index.tsx
  frontend/src/pages/Option/style.tsx
  frontend/src/routes/router.tsx
  frontend/src/types/option.ts
  frontend/src/utils/index.ts
Labels: 🕹️ feature, 🖥️ Frontend

#40 [AND] Navigation Compose 구축
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/AndroidManifest.xml
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/HyundaiApplication.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/MainActivity.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/navigation/Destinations.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/navigation/HyundaiNavHost.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiApp.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchiveScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchiveViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/HyundaiTopBar.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/loading/LoadingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/loading/LoadingScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/loading/LoadingViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingViewModel.kt
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/build.gradle.kts
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🎾 android

#53 [AND] 내차만들기 중첩 Graph 선언
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/MainActivity.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/navigation/Destinations.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/navigation/HyundaiNavHost.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiApp.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
Labels: 🕹️ feature, 🎾 android

#55 [FE] MSW Api 수정
  frontend/src/mocks/api/body-type/data.ts
  frontend/src/mocks/api/body-type/index.ts
  frontend/src/mocks/api/engine/data.ts
  frontend/src/mocks/api/engine/index.ts
  frontend/src/mocks/api/trim-color/data.ts
  frontend/src/mocks/api/trim-color/index.ts
  frontend/src/mocks/api/trim-default-option/data.ts
  frontend/src/mocks/api/trim-h-genuine-accessories/data.ts
  frontend/src/mocks/api/trim-n-performance/data.ts
  frontend/src/mocks/api/trim-select-option/data.ts
  frontend/src/mocks/api/trim/data.ts
  frontend/src/mocks/api/trim/index.ts
  frontend/src/mocks/api/wheel-drive/data.ts
  frontend/src/mocks/api/wheel-drive/index.ts
Labels: 🩺 refactor, 🖥️ Frontend

#58 [BE] Global Response DTO 구현
  backend/src/main/java/softeer/h9/hey/dto/response/GlobalResponse.java
Labels: 🕹️ feature, 🗄️ backend

#59 [BE] 내 차 만들기 기본옵션, 선택옵션 데이터 수집
  util/palisade_option_extraction/default_option.py
  util/palisade_option_extraction/default_option_mapping.py
  util/palisade_option_extraction/insert_options_to_db.py
  util/palisade_option_extraction/select_option.py
Labels: 🗄️ backend, 📦 config

#60 [FE] 옵션 선택 페이지 마무리
  frontend/index.html
  frontend/src/assets/icons/icon_close.svg
  frontend/src/assets/icons/icon_done.svg
  frontend/src/components/common/DefaultOptionCardList/index.tsx
  frontend/src/components/common/DefaultOptionCardList/style.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/Footer/style.tsx
  frontend/src/components/common/OptionCardList/index.tsx
  frontend/src/components/common/OptionCardList/style.tsx
  frontend/src/components/common/OptionDescription/index.tsx
  frontend/src/components/common/OptionImageBox/index.tsx
  frontend/src/components/common/OptionModal/index.tsx
  frontend/src/components/common/OptionModal/style.tsx
  frontend/src/components/common/OptionModalProvider/index.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/api/trim-color/data.ts
  frontend/src/mocks/api/trim-default-option/data.ts
  frontend/src/mocks/api/trim-default-option/index.ts
  frontend/src/mocks/api/trim-h-genuine-accessories/data.ts
  frontend/src/mocks/api/trim-n-performance/data.ts
  frontend/src/mocks/api/trim-select-option/data.ts
  frontend/src/mocks/api/trim-select-option/index.ts
  frontend/src/pages/Option/index.tsx
  frontend/src/types/option.ts
  frontend/src/types/trim.ts
  frontend/src/utils/index.ts
Labels: 🕹️ feature, 🖥️ Frontend

#61 [BE] 엔진 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/car/EngineController.java
  backend/src/main/java/softeer/h9/hey/domain/car/Engine.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/EnginesResponse.java
  backend/src/main/java/softeer/h9/hey/dto/global/response/GlobalResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/EngineRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/EngineService.java
  backend/src/test/java/softeer/h9/hey/controller/car/EngineControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/EngineRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/EngineServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#71 [BE] 바디 타입 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/car/BodyTypeController.java
  backend/src/main/java/softeer/h9/hey/domain/car/BodyType.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/BodyTypesResponse.java
  backend/src/main/java/softeer/h9/hey/repository/Car/BodyTypeRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/BodyTypeService.java
  backend/src/test/java/softeer/h9/hey/controller/car/BodyTypeControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/Car/BodyTypeRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/BodyTypeServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#70 [FE] 색상 선택 페이지 마무리
  frontend/src/components/color/ExternalCarImage/index.tsx
  frontend/src/components/color/ExternalCarImage/style.tsx
  frontend/src/components/color/InnerCarImage/style.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/Footer/style.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/components/layout/MyCarLayout/style.tsx
  frontend/src/mocks/api/trim-color/data.ts
  frontend/src/pages/Color/index.tsx
  frontend/src/pages/Color/style.tsx
  frontend/src/types/color.ts
  frontend/src/types/trim.ts
Labels: 🕹️ feature, 🩺 refactor, 🖥️ Frontend

#69 [BE] 트림 조회 기능
  backend/src/main/java/softeer/h9/hey/controller/car/TrimController.java
  backend/src/main/java/softeer/h9/hey/domain/car/Trim.java
  backend/src/main/java/softeer/h9/hey/domain/car/TrimFeature.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/TrimsResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/TrimRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/TrimService.java
  backend/src/test/java/softeer/h9/hey/controller/car/TrimControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/TrimRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/TrimServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#76 [AND] 내차만들기 Screen 구현
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/OptionCardUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/ColorOptionSimpleUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/ColorOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/CompleteOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ColorSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/MakingCarCommonItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/TrimSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
  android/MyCarchiving/app/src/main/res/drawable/bg_complete_car.xml
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🎾 android

#77 [AND] 누락 코드 추가 및 오류 수정
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ColorSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimViewModel.kt
Labels: 🩺 refactor, 🛠️ fix, 🎾 android

#78 [BE] 차량 통합 코드 조회
  backend/src/main/java/softeer/h9/hey/controller/car/CarInfoController.java
  backend/src/main/java/softeer/h9/hey/domain/car/CarInfo.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/CarCodeRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/CarCodeResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/CarInfoRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/CarInfoService.java
  backend/src/test/java/softeer/h9/hey/controller/car/CarInfoControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/CarInfoRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/CarInfoServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#82 [BE] 자바 컨벤션 파일 적용
  backend/.editorconfig
  backend/src/main/java/softeer/h9/hey/controller/car/BodyTypeController.java
  backend/src/main/java/softeer/h9/hey/controller/car/CarInfoController.java
  backend/src/main/java/softeer/h9/hey/controller/car/EngineController.java
  backend/src/main/java/softeer/h9/hey/controller/car/ModelImageController.java
  backend/src/main/java/softeer/h9/hey/controller/car/TrimController.java
  backend/src/main/java/softeer/h9/hey/domain/car/BodyType.java
  backend/src/main/java/softeer/h9/hey/domain/car/CarInfo.java
  backend/src/main/java/softeer/h9/hey/domain/car/Engine.java
  backend/src/main/java/softeer/h9/hey/domain/car/ModelImage.java
  backend/src/main/java/softeer/h9/hey/domain/car/Trim.java
  backend/src/main/java/softeer/h9/hey/domain/car/TrimFeature.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/CarCodeRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/BodyTypesResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/CarCodeResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/EnginesResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/ModelImagesResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/TrimsResponse.java
  backend/src/main/java/softeer/h9/hey/dto/global/response/GlobalResponse.java
  backend/src/main/java/softeer/h9/hey/repository/Car/BodyTypeRepository.java
  backend/src/main/java/softeer/h9/hey/repository/car/CarInfoRepository.java
  backend/src/main/java/softeer/h9/hey/repository/car/EngineRepository.java
  backend/src/main/java/softeer/h9/hey/repository/car/ModelImageRepository.java
  backend/src/main/java/softeer/h9/hey/repository/car/TrimRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/BodyTypeService.java
  backend/src/main/java/softeer/h9/hey/service/car/CarInfoService.java
  backend/src/main/java/softeer/h9/hey/service/car/EngineService.java
  backend/src/main/java/softeer/h9/hey/service/car/ModelImageService.java
  backend/src/main/java/softeer/h9/hey/service/car/TrimService.java
  backend/src/test/java/softeer/h9/hey/config/DbConnectionTest.java
  backend/src/test/java/softeer/h9/hey/controller/car/BodyTypeControllerTest.java
  backend/src/test/java/softeer/h9/hey/controller/car/CarInfoControllerTest.java
  backend/src/test/java/softeer/h9/hey/controller/car/EngineControllerTest.java
  backend/src/test/java/softeer/h9/hey/controller/car/ModelImageControllerTest.java
  backend/src/test/java/softeer/h9/hey/controller/car/TrimControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/Car/BodyTypeRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/CarInfoRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/EngineRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/ModelImageRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/TrimRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/BodyTypeServiceTest.java
  backend/src/test/java/softeer/h9/hey/service/car/CarInfoServiceTest.java
  backend/src/test/java/softeer/h9/hey/service/car/EngineServiceTest.java
  backend/src/test/java/softeer/h9/hey/service/car/ModelImageServiceTest.java
Labels: 🩺 refactor, 🗄️ backend, 📦 config

#84 [AND] 이미지 preload 오류 수정
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🛠️ fix, 🎾 android

#85 [BE] 구동 방식 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/car/WheelDriveController.java
  backend/src/main/java/softeer/h9/hey/domain/car/WheelDrive.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/WheelDriveResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/WheelDriveRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/WheelDriveService.java
  backend/src/test/java/softeer/h9/hey/controller/car/WheelDriveControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/WheelDriveRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/WheelDriveServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#86 [BE] 색상 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/car/ColorDataController.java
  backend/src/main/java/softeer/h9/hey/domain/car/ExteriorColor.java
  backend/src/main/java/softeer/h9/hey/domain/car/InteriorColor.java
  backend/src/main/java/softeer/h9/hey/domain/car/Tag.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/ColorDataResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/AvailableColorRepository.java
  backend/src/main/java/softeer/h9/hey/repository/car/ExteriorColorRepository.java
  backend/src/main/java/softeer/h9/hey/repository/car/InteriorColorRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/ColorDataService.java
  backend/src/test/java/softeer/h9/hey/controller/car/ColorDataControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/AvailableColorRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/ExteriorColorRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/InteriorColorRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/ColorDataServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#91 [BE] CI 빌드 테스트 구축
  .github/workflows/backend_CD.yml
  .github/workflows/backend_CI.yml
  backend/database/init.sql
Labels: 🗄️ backend, 📦 config

#94 [BE] 선택옵션, N Performance 옵션 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/car/SelectOptionController.java
  backend/src/main/java/softeer/h9/hey/domain/car/SelectOption.java
  backend/src/main/java/softeer/h9/hey/domain/car/SelectOptionCategory.java
  backend/src/main/java/softeer/h9/hey/domain/car/SubOption.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/SelectOptionRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/SelectOptionResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/SelectOptionsResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/SubOptionResponses.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/TagResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/SelectOptionRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/SelectOptionService.java
  backend/src/test/java/softeer/h9/hey/controller/car/SelectOptionControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/SelectOptionRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/SelectOptionServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#95 [FE] 리뷰 페이지 UI 구현
  frontend/src/components/review/OptionList/index.tsx
  frontend/src/components/review/OptionList/style.tsx
  frontend/src/components/review/ReviewButton/index.tsx
  frontend/src/components/review/ReviewButton/style.tsx
  frontend/src/components/review/ReviewDescription/index.tsx
  frontend/src/components/review/ReviewDescription/style.tsx
  frontend/src/components/review/ReviewImageCard/index.tsx
  frontend/src/components/review/ReviewImageCard/style.tsx
  frontend/src/components/review/ReviewOption/index.tsx
  frontend/src/components/review/ReviewOption/style.tsx
  frontend/src/components/review/ReviewTag/index.tsx
  frontend/src/components/review/ReviewTag/style.tsx
  frontend/src/components/review/ReviewTextArea/index.tsx
  frontend/src/components/review/ReviewTextArea/style.tsx
  frontend/src/components/review/SlidePrevButton/index.tsx
  frontend/src/components/review/SlidePrevButton/style.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/api/review/data.ts
  frontend/src/mocks/api/review/index.ts
  frontend/src/pages/Review/index.tsx
  frontend/src/pages/Review/style.tsx
  frontend/src/routes/router.tsx
  frontend/src/styles/theme.ts
Labels: 🕹️ feature, 🖥️ Frontend

#98 [AND] 네비게이션 리팩터링 및 BottomSheet/Dialog 구현
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/enums/ArchiveSearchPage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/common/CarBasicDetailUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/common/CarBasicUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/common/ProgressUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiApp.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomSheetItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Buttons.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Dialogs.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/HyundaiTopBar.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/NavigateBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ProgressBar.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Color.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/MakeCarProcess.kt
  android/MyCarchiving/app/src/main/res/values/strings.xml
Labels: 🕹️ feature, 🩺 refactor, 🎾 android

#105 [AND] 누락 코드 수정
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/TrimOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/ColorOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiApp.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomSheetItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/NavigateBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimViewModel.kt
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/data/src/main/java/com/softeer/data/CarColorType.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/TrimType.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🩺 refactor, 🛠️ fix, 🎾 android

#109 [FE] 색상 선택 API 적용 및 마이카이빙 UI 구현
  frontend/src/components/color/CheckIcon/index.tsx
  frontend/src/components/color/CheckIcon/style.tsx
  frontend/src/components/color/ExternalCarImage/index.tsx
  frontend/src/components/color/InnerCarImage/index.tsx
  frontend/src/components/color/RotateLogo/index.tsx
  frontend/src/components/common/ArchivingHeader/index.tsx
  frontend/src/components/common/ArchivingHeader/style.tsx
  frontend/src/components/common/ArchivingLogoDark/index.tsx
  frontend/src/components/common/ArchivingNavigation/index.tsx
  frontend/src/components/common/ArchivingNavigation/style.tsx
  frontend/src/components/common/CarLogo/index.tsx
  frontend/src/components/common/ErrorBoundary/index.tsx
  frontend/src/components/common/Footer/EstimateModal/index.tsx
  frontend/src/components/common/ModalPortal/index.tsx
  frontend/src/components/common/OptionCategory/index.tsx
  frontend/src/components/common/PopupModal/index.tsx
  frontend/src/components/layout/MyArchivingLayout/index.tsx
  frontend/src/components/layout/MyArchivingLayout/style.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/components/myChiving/MyCarList/index.tsx
  frontend/src/components/myChiving/MyCarList/style.tsx
  frontend/src/components/myChiving/MyCarNavigation/index.tsx
  frontend/src/components/myChiving/MyCarNavigation/style.tsx
  frontend/src/components/myChiving/MyFeed/index.tsx
  frontend/src/components/myChiving/MyFeed/style.tsx
  frontend/src/components/myChiving/MySavedCar/index.tsx
  frontend/src/components/myChiving/MySavedCar/style.tsx
  frontend/src/components/myChiving/XButton/index.tsx
  frontend/src/components/myChiving/XButton/style.tsx
  frontend/src/constants/index.ts
  frontend/src/mocks/api/body-type/data.ts
  frontend/src/mocks/api/my-archiving-feed/data.ts
  frontend/src/mocks/api/my-archiving-feed/index.ts
  frontend/src/mocks/api/my-archiving-saved/data.ts
  frontend/src/mocks/api/my-archiving-saved/index.ts
  frontend/src/mocks/api/my-archiving-temp/data.ts
  frontend/src/mocks/api/my-archiving-temp/index.ts
  frontend/src/mocks/api/trim-color/data.ts
  frontend/src/mocks/api/trim-color/index.ts
  frontend/src/mocks/api/trim/data.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Color/index.tsx
  frontend/src/pages/MyArchiving/context/index.tsx
  frontend/src/pages/MyArchiving/index.tsx
  frontend/src/pages/MyArchiving/style.tsx
  frontend/src/pages/Trim/BodyType/index.tsx
  frontend/src/pages/Trim/Engine/index.tsx
  frontend/src/pages/Trim/WheelDrive/index.tsx
  frontend/src/pages/Trim/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/types/color.ts
  frontend/src/types/myChiving.ts
  frontend/src/types/trim.ts
Labels: 🕹️ feature, 🖥️ Frontend

#108 [BE] H Genuine 옵션 목록 조회 기능 구현
  backend/database/init.sql
  backend/src/main/java/softeer/h9/hey/controller/car/SelectOptionController.java
  backend/src/main/java/softeer/h9/hey/dto/car/DisabledOptionIdDto.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/SelectOptionRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/HGenuineAccessoriesResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/HGenuineAccessoryResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/SelectOptionResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/BodyTypeRepository.java
  backend/src/main/java/softeer/h9/hey/repository/car/SelectOptionRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/SelectOptionService.java
  backend/src/test/java/softeer/h9/hey/controller/car/SelectOptionControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/BodyTypeRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/SelectOptionRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/SelectOptionServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#114 [BE] 내 차 만들기 기본 옵션 조회
  backend/src/main/java/softeer/h9/hey/controller/car/DefaultOptionController.java
  backend/src/main/java/softeer/h9/hey/domain/car/DefaultOption.java
  backend/src/main/java/softeer/h9/hey/domain/car/DefaultOptionCategory.java
  backend/src/main/java/softeer/h9/hey/dto/car/DefaultOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/car/DefaultSubOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/DefaultOptionRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/DefaultOptionsResponse.java
  backend/src/main/java/softeer/h9/hey/repository/Car/DefaultOptionRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/DefaultOptionService.java
  backend/src/test/java/softeer/h9/hey/controller/car/DefaultOptionControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/Car/DefaultOptionRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/DefaultOptionServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#117 [BE] 내장 색상 자동차 이미지 URL 누락 픽스
  backend/src/main/java/softeer/h9/hey/controller/car/ColorDataController.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/ColorDataResponse.java
  backend/src/main/java/softeer/h9/hey/repository/car/InteriorColorRepository.java
  backend/src/test/java/softeer/h9/hey/controller/car/ColorDataControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/InteriorColorRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/ColorDataServiceTest.java
Labels: 🛠️ fix, 🗄️ backend

#127 [AND] 기본 요약 품목 네트워크 연결
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/NetworkModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomSheetItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Dialogs.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionViewModel.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SelectOptionDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/TrimOptionDtos.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectColorNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectOptionNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectTrimNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectOptionRepository.kt
Labels: 🕹️ feature, 🎾 android

#132 [AND] 내차만들기 Back Button 클릭 시 화면 전환 보완
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimNavigation.kt
Labels: 🛠️ fix, 🎾 android

#133 [AND] 색상선택 - 360도 이미지를 현재 이미지와 가까운 것부터 preload
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
Labels: 🩺 refactor, 🎾 android

#131 [BE] 기본옵션, 선택옵션 데이터 수집 파이썬 코드 수정
  util/palisade_option_extraction/default_option.py
  util/palisade_option_extraction/default_option_mapping.py
  util/palisade_option_extraction/insert_options_to_db.py
  util/palisade_option_extraction/select_option.py
Labels: 🛠️ fix, 🗄️ backend

#140 [BE] h-genuine isAvailable 응답 위치 수정
  backend/src/main/java/softeer/h9/hey/dto/car/response/HGenuineAccessoryResponse.java
  backend/src/test/java/softeer/h9/hey/controller/car/SelectOptionControllerTest.java
Labels: 🕹️ feature, 🗄️ backend

#139 [FE] api 캐시 및 queryString 적용
  frontend/src/App.tsx
  frontend/src/CacheProvider.tsx
  frontend/src/components/Archiving/ReviewCard/index.tsx
  frontend/src/components/Option/OptionCardList/index.tsx
  frontend/src/components/common/Footer/EstimateModal/index.tsx
  frontend/src/components/common/Footer/EstimateModal/style.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/Header/style.tsx
  frontend/src/components/common/ModalProvider/index.tsx
  frontend/src/components/common/PopupModal/index.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useCacheQuery.ts
  frontend/src/pages/Archiving/Detail/index.tsx
  frontend/src/pages/Color/index.tsx
  frontend/src/pages/MyChiving/index.tsx
  frontend/src/pages/Trim/BodyType/index.tsx
  frontend/src/pages/Trim/Engine/index.tsx
  frontend/src/pages/Trim/WheelDrive/index.tsx
  frontend/src/pages/Trim/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/types/cache.ts
  frontend/src/types/option.ts
  frontend/src/types/trim.ts
  frontend/src/utils/index.ts
Labels: 🕹️ feature, 🩺 refactor, 🖥️ Frontend

#142 [AND] 내차만들기 상태 관리 보완
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/NetworkModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/TrimOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/common/SummaryChildUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/SelectOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomSheetItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Buttons.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimViewModel.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SelectOptionDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/TrimOptionDtos.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectOptionNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectOptionRepository.kt
Labels: 🕹️ feature, 🩺 refactor, 🎾 android

#143 [AND] 로딩 화면 임시 구현
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/loading/LoadingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/loading/LoadingScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginScreen.kt
  android/MyCarchiving/app/src/main/res/drawable/img_loading.gif
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🎾 android

#146 #141 config: swagger 의존성 추가
  backend/build.gradle
Labels: 🗄️ backend, 📦 config

#153 [AND] 내 차 만들기 UI 개선
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Buttons.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/res/drawable/ic_rotate_footer.xml
Labels: 🩺 refactor, 🎾 android

#155 [AND] 내 차 만들기 UI 보안 병합
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
Labels: 🛠️ fix, 🎾 android

#156 [AND] 내 차 만들기 UI 보안 병합
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
Labels: 🛠️ fix, 🎾 android

#159 [AND] 화면 전환 Transition 적용 및 진입 전 이미지 캐싱
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ColorSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/TransitionSpecGenerator.kt
Labels: 🕹️ feature, 🩺 refactor, 🎾 android

#149 [FE] 아카이빙 msw 연동 및 custom hook 구현
  frontend/src/CacheProvider.tsx
  frontend/src/assets/Loading.gif
  frontend/src/components/Archiving/OptionDescriptionCard/index.tsx
  frontend/src/components/Archiving/OptionDescriptionCard/style.tsx
  frontend/src/components/Archiving/OptionList/index.tsx
  frontend/src/components/Archiving/OptionList/style.tsx
  frontend/src/components/Archiving/OptionSearchBar/style.tsx
  frontend/src/components/Archiving/ReviewCard/index.tsx
  frontend/src/components/Archiving/ReviewList/index.tsx
  frontend/src/components/Archiving/ReviewList/style.tsx
  frontend/src/components/common/Footer/EstimateModal/index.tsx
  frontend/src/components/common/Footer/EstimateModal/style.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/Footer/style.tsx
  frontend/src/components/common/Loading/index.tsx
  frontend/src/components/common/Loading/style.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/hooks/useCache.ts
  frontend/src/hooks/useCacheQuery.ts
  frontend/src/hooks/useFetchSuspense.ts
  frontend/src/hooks/useInfiniteFetch.ts
  frontend/src/hooks/useInfiniteScroll.ts
  frontend/src/mocks/api/archiving/data.ts
  frontend/src/mocks/api/archiving/index.ts
  frontend/src/pages/Archiving/Detail/index.tsx
  frontend/src/pages/Archiving/Detail/style.tsx
  frontend/src/pages/Archiving/index.tsx
  frontend/src/pages/Archiving/style.tsx
  frontend/src/pages/Result/index.tsx
  frontend/src/pages/Trim/index.tsx
  frontend/src/styles/globalStyle.tsx
  frontend/src/types/archiving.ts
  frontend/src/types/cache.ts
  frontend/src/utils/masonryLayout.ts
  frontend/vite.config.ts
Labels: 🕹️ feature, 🩺 refactor, 🛠️ fix, 🖥️ Frontend

#161 [AND] 아카이빙 네비게이션 적용
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/refactoring-plan.md
  .github/PULL_REQUEST_TEMPLATE.md
  .idea/.gitignore
  .idea/H9-88Hey.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchivingDetailNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchivingDetailScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveMainNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CircleItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/DetailItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/NavigateBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Type.kt
  android/MyCarchiving/app/src/main/res/drawable/bg_detail_car.xml
Labels: 🕹️ feature, 🎾 android

#163 [AND] 아카이빙 네비게이션 구현
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/refactoring-plan.md
  .github/PULL_REQUEST_TEMPLATE.md
  .idea/.gitignore
  .idea/H9-88Hey.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchivingDetailNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchivingDetailScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveMainNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CircleItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/DetailItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/NavigateBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/theme/Type.kt
  android/MyCarchiving/app/src/main/res/drawable/bg_detail_car.xml
Labels: 🕹️ feature, 🎾 android

#164 [AND] 360도 이미지 드래그로 변경
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
Labels: 🕹️ feature, 🩺 refactor, 🎾 android

#165 [AND] 화면 전환 시 발생하는 리컴포지션 임시 방지
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/MakeCarProcess.kt
Labels: 🩺 refactor, 🛠️ fix, 🎾 android

#168 [AND] 마이카이빙 중첩 NavHost 구현
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/navigation/Destinations.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/navigation/HyundaiNavHost.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/myarchivedetail/MyArchiveDetailNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/myarchivedetail/MyArchiveDetailScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/myarchivemade/MyArchiveMadeNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/myarchivemade/MyArchiveMadeScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/myarchivesave/MyArchiveSaveNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/myarchivesave/MyArchiveSaveScreen.kt
Labels: 🕹️ feature, 🎾 android

#171 [AND] 기존 데이터 로드 로직 UseCase로 리팩토링
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/DataModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/ColorOptionUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/SelectOptionUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/TrimOptionUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimViewModel.kt
  android/MyCarchiving/data/build.gradle.kts
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SelectTrimDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/TrimBasicMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/TrimColorMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/TrimExtraMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/TrimOptionMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectColorRepository.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectColorRepositoryImpl.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectOptionRepositoryImpl.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectTrimRepositoryImpl.kt
  android/MyCarchiving/domain/build.gradle.kts
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/MyScreen.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarBasicOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarColor.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarExtraOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/ModelOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/TrimOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SelectColorRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SelectOptionRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SelectTrimRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetBasicOptionsUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetBodyTypesUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetCarCodeUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetCarColorsUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetCarModelImagesUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetCarModelsUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetEngineOptionsUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetExtraOptionsUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetHGenuinesUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetNPerformancesUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetWheelDrivesUseCase.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🩺 refactor, 🎾 android

#167 [BE] 내 차 만들기 저장 구현
  backend/build.gradle
  backend/database/init.sql
  backend/src/main/java/softeer/h9/hey/controller/myChiving/MyChivingController.java
  backend/src/main/java/softeer/h9/hey/domain/myChiving/MyChiving.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingSaveDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/request/MyChivingSaveRequest.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/request/MyChivingTempSaveRequest.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingIdResponse.java
  backend/src/main/java/softeer/h9/hey/repository/myChiving/MyChivingRepository.java
  backend/src/main/java/softeer/h9/hey/service/myChiving/MyChivingService.java
  backend/src/test/java/softeer/h9/hey/controller/myChiving/MyChivingControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/myChiving/MyChivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/myChiving/MyChivingServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#169 [BE] 아카이빙 조회 기능 구현
  backend/database/init.sql
  backend/src/main/java/softeer/h9/hey/controller/archiving/ArchivingController.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/Archiving.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/SelectedOption.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/SimpleSubOption.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/Tags.java
  backend/src/main/java/softeer/h9/hey/domain/car/Tag.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ArchivingDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ArchivingSelectedOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/BodyTypeDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/EngineDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ExteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/InteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/TrimDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/WheelDriveDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/request/ArchivingRequest.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/response/ArchivingResponse.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingBodyTypeRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingEngineRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingExteriorColorRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingInteriorColorRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingSelectedOptionRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingTagsRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingTrimRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingWheelDriveRepository.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
  backend/src/test/java/softeer/h9/hey/controller/car/EngineControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingBodyTypeRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingEngineRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingExteriorColorRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingInteriorColorRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingSelectedOptionRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingTagsRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingTrimRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingWheelDriveRepositoryTest.java
Labels: 🕹️ feature, 🗄️ backend

#175 [BE] 단순 회원가입, 로그인, 토큰 생성 기능 구현
  backend/build.gradle
  backend/src/main/java/softeer/h9/hey/auth/controller/AuthController.java
  backend/src/main/java/softeer/h9/hey/auth/domain/RefreshTokenEntity.java
  backend/src/main/java/softeer/h9/hey/auth/domain/User.java
  backend/src/main/java/softeer/h9/hey/auth/dto/request/AccessTokenRequest.java
  backend/src/main/java/softeer/h9/hey/auth/dto/request/JoinRequest.java
  backend/src/main/java/softeer/h9/hey/auth/dto/request/LoginRequest.java
  backend/src/main/java/softeer/h9/hey/auth/dto/response/TokenResponse.java
  backend/src/main/java/softeer/h9/hey/auth/exception/InvalidTokenException.java
  backend/src/main/java/softeer/h9/hey/auth/exception/JoinException.java
  backend/src/main/java/softeer/h9/hey/auth/exception/LoginException.java
  backend/src/main/java/softeer/h9/hey/auth/repository/RefreshTokenRepository.java
  backend/src/main/java/softeer/h9/hey/auth/repository/RefreshTokenRepositoryImpl.java
  backend/src/main/java/softeer/h9/hey/auth/repository/UserRepository.java
  backend/src/main/java/softeer/h9/hey/auth/repository/UserRepositoryImpl.java
  backend/src/main/java/softeer/h9/hey/auth/service/AuthService.java
  backend/src/main/java/softeer/h9/hey/auth/service/JwtTokenProvider.java
  backend/src/main/java/softeer/h9/hey/dto/global/response/GlobalResponse.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/softeer/h9/hey/auth/controller/AuthControllerTest.java
  backend/src/test/java/softeer/h9/hey/auth/repository/RefreshTokenRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/auth/repository/UserRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/auth/service/AuthServiceTest.java
  backend/src/test/java/softeer/h9/hey/auth/service/JwtTokenProviderTest.java
Labels: 🕹️ feature, 🗄️ backend

#180 [AND] 재진입 시 앱 강제종료 되는 버그 제거
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingNavigation.kt
Labels: 🛠️ fix, 🎾 android

#176 [BE] 태그 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/car/TagController.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/TagByExteriorColorIdRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/TagByInteriorColorIdRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/request/TagBySelectOptionRequest.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/TagResponse.java
  backend/src/main/java/softeer/h9/hey/repository/Car/TagRepository.java
  backend/src/main/java/softeer/h9/hey/service/car/TagService.java
  backend/src/test/java/softeer/h9/hey/controller/car/TagControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/Car/TagRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/car/TagServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#184 [AND] 아카이빙 네트워크 데이터 로드
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/ArchivingApiModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/DataModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/ArchivingUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/common/CarFeedUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ArchiveListItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/MyArchiveListItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/main/MyArchiveMainScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/main/MyArchiveMainViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/save/MyArchiveSaveScreen.kt
  android/MyCarchiving/data/build.gradle.kts
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/ArchivingDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/ArchivingRemotePagingSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/ArchivingMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/ArchivingDtos.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/ArchivingNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/ArchivingRepositoryImpl.kt
  android/MyCarchiving/domain/build.gradle.kts
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarColor.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarExtraOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarFeed.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/SelectOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/TrimOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/ArchivingRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/archiving/GetAbleOptionsUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/archiving/GetCarFeedsUseCase.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🎾 android

#186 [AND] 색상선택/선택옵션 태그 데이터 네트워크 연결
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/ColorOptionUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/ColorOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionViewModel.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SelectColorDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SelectOptionDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/TagDto.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectColorNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectOptionNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectColorRepositoryImpl.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectOptionRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SelectColorRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SelectOptionRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetTagsOfExteriorUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetTagsOfInteriorUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetTagsOfSelectOptionUseCase.kt
Labels: 🕹️ feature, 🎾 android

#191 [AND] 내차만들기 화면 진행에 따른 자동차 정보 네트워크 전송
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/DataModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/MakingCarApiModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/TrimOptionUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/TrimOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/MyArchiveDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/MyArchiveMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/CarInfoBodies.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/CarInfoResponse.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/MyArchiveNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/MyArchiveRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarInfo.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/MyArchiveRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/SaveCarInfoUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/SaveTempCarInfoUseCase.kt
Labels: 🕹️ feature, 🎾 android

#196 [AND] 로그인 화면과 네트워크 연결
  android/MyCarchiving/app/.gitignore
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/DataModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/SignApiModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/LoginItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginViewModel.kt
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SignDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/SignMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/SignInRequestDto.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/TokenDto.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SignNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SignRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/Token.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SignRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/sign/SignInUseCase.kt
Labels: 🕹️ feature, 🎾 android

#197 [AND] 로그인 화면과 네트워크 연결
  android/MyCarchiving/app/.gitignore
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/DataModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/SignApiModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/LoginItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginViewModel.kt
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SignDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/SignMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/SignInRequestDto.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/TokenDto.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SignNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SignRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/Token.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SignRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/sign/SignInUseCase.kt
Labels: 🕹️ feature, 🎾 android

#194 [BE] 내 차 만들기 태그 응답 삭제
  backend/src/main/java/softeer/h9/hey/domain/car/ExteriorColor.java
  backend/src/main/java/softeer/h9/hey/domain/car/InteriorColor.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/HGenuineAccessoryResponse.java
  backend/src/main/java/softeer/h9/hey/dto/car/response/SelectOptionResponse.java
Labels: 🩺 refactor, 🗄️ backend

#185 [BE] 패스워드 암호화, 인증 및 인가 기능
  .github/workflows/backend_CD.yml
  .github/workflows/backend_CI.yml
  backend/database/init.sql
  backend/src/main/java/softeer/h9/hey/auth/annotation/LoginUser.java
  backend/src/main/java/softeer/h9/hey/auth/config/AsyncConfig.java
  backend/src/main/java/softeer/h9/hey/auth/config/AuthWebConfig.java
  backend/src/main/java/softeer/h9/hey/auth/controller/AuthController.java
  backend/src/main/java/softeer/h9/hey/auth/domain/RefreshTokenEntity.java
  backend/src/main/java/softeer/h9/hey/auth/dto/request/JoinRequest.java
  backend/src/main/java/softeer/h9/hey/auth/dto/request/LoginRequest.java
  backend/src/main/java/softeer/h9/hey/auth/repository/RefreshTokenRepository.java
  backend/src/main/java/softeer/h9/hey/auth/repository/RefreshTokenRepositoryImpl.java
  backend/src/main/java/softeer/h9/hey/auth/service/AuthService.java
  backend/src/main/java/softeer/h9/hey/auth/service/JwtTokenProvider.java
  backend/src/main/java/softeer/h9/hey/auth/service/PasswordEncoder.java
  backend/src/main/java/softeer/h9/hey/auth/service/RefreshTokenAsyncExecutor.java
  backend/src/main/java/softeer/h9/hey/auth/web/interceptor/AuthInterceptor.java
  backend/src/main/java/softeer/h9/hey/auth/web/resolver/LoginUserArgumentResolver.java
  backend/src/main/java/softeer/h9/hey/controller/myChiving/MyChivingController.java
  backend/src/main/java/softeer/h9/hey/service/myChiving/MyChivingService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/softeer/h9/hey/auth/controller/AuthControllerTest.java
  backend/src/test/java/softeer/h9/hey/auth/repository/RefreshTokenRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/auth/service/AuthServiceTest.java
  backend/src/test/java/softeer/h9/hey/auth/service/PasswordEncoderTest.java
  backend/src/test/java/softeer/h9/hey/controller/myChiving/MyChivingControllerTest.java
  backend/src/test/java/softeer/h9/hey/service/myChiving/MyChivingServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#192 [BE] 아카이빙 상세 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/archiving/ArchivingController.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/ArchivingResult.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/SelectOptionTag.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/Tags.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/SelectOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/request/ArchivingDetailRequest.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/response/ArchivingDetailResponse.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingTagsRepository.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
  backend/src/test/java/softeer/h9/hey/controller/archiving/ArchivingControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingTagsRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/archiving/ArchivingServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#206 [AND] 마이카이빙 BottomBar 구현 및 리팩토링
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiApp.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/detail/MyArchiveDetailScreen.kt
Labels: 🕹️ feature, 🛠️ fix, 🎾 android

#200 [BE] 마이카이빙 조회 구현
  backend/src/main/java/softeer/h9/hey/controller/myChiving/MyChivingController.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/BodyTypeDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/EngineDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ExteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/InteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/TrimDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/WheelDriveDto.java
  backend/src/main/java/softeer/h9/hey/dto/global/response/GlobalResponse.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/ModelDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingSaveDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingSelectOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingSelectOptionFetchDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/request/MyChivingRequest.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/request/MyChivingSaveRequest.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingResponse.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingsResponse.java
  backend/src/main/java/softeer/h9/hey/repository/myChiving/MyChivingRepository.java
  backend/src/main/java/softeer/h9/hey/service/myChiving/MyChivingService.java
  backend/src/test/java/softeer/h9/hey/controller/myChiving/MyChivingControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/myChiving/MyChivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/myChiving/MyChivingServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#212 [AND] 로그인 기능 구현
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/MyScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/constant/ApiConst.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/NetworkModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/PreferenceModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/login/LoginUiState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/PreferenceUtil.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SignDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SignNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SignRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SignRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/sign/ReissueUseCase.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🩺 refactor, 🎾 android

#215 hotfix: swagger 관련 인증 인터셉터 수정
  backend/src/main/java/softeer/h9/hey/auth/config/AuthWebConfig.java
Labels: 🛠️ fix, 🗄️ backend

#218 [BE] 마이카이빙 조회 response 수정
  backend/src/main/java/softeer/h9/hey/controller/myChiving/MyChivingController.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingResponse.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingsResponse.java
  backend/src/main/java/softeer/h9/hey/service/myChiving/MyChivingService.java
  backend/src/test/java/softeer/h9/hey/service/myChiving/MyChivingServiceTest.java
Labels: 🛠️ fix, 🗄️ backend

#219 [AND] 아카이빙 상세화면 네트워크 연결
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/ArchivingUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/common/CarDetailsUiModels.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/ColorOptionSimpleUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchiveKeys.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/ArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchiveDetailViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchivingDetailNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchivingDetailScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveMainNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingmain/ArchiveScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ArchiveListItem.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/DetailItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/detail/MyArchiveDetailScreen.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/ArchivingDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/ArchivingMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/ArchivingDtos.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/ArchivingNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/ArchivingRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarDetails.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarExtraOption.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/ArchivingRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/archiving/GetCarDetailsUseCase.kt
Labels: 🕹️ feature, 🎾 android

#213 [AND] 토큰 관리와 자동 로그인
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/MyScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/constant/ApiConst.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/NetworkModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/PreferenceModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/login/LoginUiState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/login/LoginViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/PreferenceUtil.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SignDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SignNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SignRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SignRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/sign/ReissueUseCase.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🕹️ feature, 🩺 refactor, 🎾 android

#224 [AND] QA 반영하기
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomSheetItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Dialogs.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/MyArchiveListItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/NavigateBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ProgressBar.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/TrimSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarNavigation.kt
Labels: 🩺 refactor, 🎾 android

#228 [BE] 마이카이빙 조회 response 수정
  backend/src/main/java/softeer/h9/hey/controller/myChiving/MyChivingController.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingResponse.java
  backend/src/main/java/softeer/h9/hey/repository/myChiving/MyChivingRepository.java
  backend/src/main/java/softeer/h9/hey/service/myChiving/MyChivingService.java
  backend/src/test/java/softeer/h9/hey/controller/myChiving/MyChivingControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/car/SelectOptionRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/repository/myChiving/MyChivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/myChiving/MyChivingServiceTest.java
Labels: 🛠️ fix, 🗄️ backend

#227 [BE] 마이카이빙 삭제 구현
  backend/src/main/java/softeer/h9/hey/controller/myChiving/MyChivingController.java
  backend/src/main/java/softeer/h9/hey/exception/myChiving/DeletionFailException.java
  backend/src/main/java/softeer/h9/hey/exception/myChiving/InValidAccessException.java
  backend/src/main/java/softeer/h9/hey/repository/myChiving/MyChivingRepository.java
  backend/src/main/java/softeer/h9/hey/service/myChiving/MyChivingService.java
  backend/src/test/java/softeer/h9/hey/controller/myChiving/MyChivingControllerTest.java
  backend/src/test/java/softeer/h9/hey/repository/myChiving/MyChivingRepositoryTest.java
Labels: 🕹️ feature, 🗄️ backend

#230 [BE] 아카이빙 상세 조회 타입 및 URI 수정
  backend/src/main/java/softeer/h9/hey/controller/archiving/ArchivingController.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ArchivingDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/response/ArchivingDetailResponse.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingIdResponse.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/response/MyChivingResponse.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
  backend/src/test/java/softeer/h9/hey/controller/archiving/ArchivingControllerTest.java
  backend/src/test/java/softeer/h9/hey/service/archiving/ArchivingServiceTest.java
  backend/src/test/java/softeer/h9/hey/service/myChiving/MyChivingServiceTest.java
Labels: 🩺 refactor, 🗄️ backend

#233 [BE] AccessToken 유효성 검증 API 추가
  backend/src/main/java/softeer/h9/hey/auth/controller/AuthController.java
  backend/src/main/java/softeer/h9/hey/auth/dto/request/ValidatedUserRequest.java
  backend/src/main/java/softeer/h9/hey/auth/dto/response/UserNameResponse.java
  backend/src/main/java/softeer/h9/hey/auth/service/AuthService.java
  backend/src/test/java/softeer/h9/hey/auth/controller/AuthControllerTest.java
  backend/src/test/java/softeer/h9/hey/auth/service/AuthServiceTest.java
  backend/src/test/java/softeer/h9/hey/auth/service/JwtTokenProviderTest.java
Labels: 🕹️ feature, 🛠️ fix, 🗄️ backend

#207 [FE] 무한 스크롤 스크롤 버튼 및 렌더링 최적화
  frontend/public/assets/icons/arrow_down.svg
  frontend/src/components/Archiving/ReviewCard/index.tsx
  frontend/src/components/Option/ModalPortal/style.tsx
  frontend/src/components/Option/OptionCardList/OptionCard/index.tsx
  frontend/src/components/Trim/SelectOptionCard/index.tsx
  frontend/src/components/Trim/TrimCarImageBox/index.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/ScrollTopButton/index.tsx
  frontend/src/components/common/ScrollTopButton/style.tsx
  frontend/src/components/common/TrimCard/index.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useDidMountEffect.ts
  frontend/src/hooks/useFetchSuspense.ts
  frontend/src/hooks/useInfiniteFetch.ts
  frontend/src/hooks/useSelectedIndex.ts
  frontend/src/hooks/useShowScrollButton.ts
  frontend/src/pages/Archiving/Detail/index.tsx
  frontend/src/pages/Archiving/index.tsx
  frontend/src/pages/Archiving/style.tsx
  frontend/src/pages/Color/index.tsx
  frontend/src/pages/Option/index.tsx
  frontend/src/pages/Trim/BodyType/index.tsx
  frontend/src/pages/Trim/BodyType/style.tsx
  frontend/src/pages/Trim/Engine/index.tsx
  frontend/src/pages/Trim/Engine/style.tsx
  frontend/src/pages/Trim/WheelDrive/index.tsx
  frontend/src/pages/Trim/WheelDrive/style.tsx
  frontend/src/pages/Trim/index.tsx
  frontend/src/types/trim.ts
Labels: 🕹️ feature, 🩺 refactor, 🖥️ Frontend

#238 [BE] 인과 관련 기능에서 발생하는 CORS 문제 해결
  backend/src/main/java/softeer/h9/hey/auth/web/interceptor/AuthInterceptor.java
Labels: 🛠️ fix, 🗄️ backend

#241 [BE] 마이카이빙 선택옵션 카테고리 추가
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingSelectOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/myChiving/MyChivingSelectOptionFetchDto.java
  backend/src/main/java/softeer/h9/hey/repository/myChiving/MyChivingRepository.java
  backend/src/main/java/softeer/h9/hey/service/myChiving/MyChivingService.java
  backend/src/test/java/softeer/h9/hey/repository/myChiving/MyChivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/myChiving/MyChivingServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#232 [FE] 로그인 기능 및 페이지 구현
  frontend/public/assets/icons/signin_hyundai_logo.svg
  frontend/src/App.tsx
  frontend/src/AuthProvider.tsx
  frontend/src/components/Option/OptionCardList/OptionCardHover/style.tsx
  frontend/src/components/Option/OptionDetailCard/index.tsx
  frontend/src/components/Option/OptionDetailCard/style.tsx
  frontend/src/components/Option/OptionModal/index.tsx
  frontend/src/components/Option/OptionModal/style.tsx
  frontend/src/components/Result/OptionCard/style.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/Navigation/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useAuthFetch.ts
  frontend/src/hooks/useReissueToken.ts
  frontend/src/hooks/useValidateToken.ts
  frontend/src/main.tsx
  frontend/src/pages/Signin/index.tsx
  frontend/src/pages/Signin/style.tsx
  frontend/src/pages/Signup/index.tsx
  frontend/src/pages/Signup/style.tsx
  frontend/src/routes/router.tsx
  frontend/src/utils/AuthError.ts
  frontend/src/utils/auth.ts
  frontend/src/utils/index.ts
Labels: 🕹️ feature, 🖥️ Frontend

#242 [FE] 아카이빙 북마크 및 저장 기능 구현
  frontend/src/components/Archiving/DetailDescription/index.tsx
  frontend/src/components/MyChiving/MySavedCar/index.tsx
  frontend/src/components/Trim/SelectOptionCard/index.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/SaveButton/index.tsx
  frontend/src/components/common/SaveButton/style.tsx
  frontend/src/components/common/TrimCard/index.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useFetch.ts
  frontend/src/hooks/useFetchSuspense.ts
  frontend/src/hooks/usePostRequest.ts
  frontend/src/pages/Archiving/Detail/index.tsx
  frontend/src/pages/Color/index.tsx
  frontend/src/pages/Result/index.tsx
  frontend/src/pages/Trim/BodyType/index.tsx
  frontend/src/types/archiving.ts
  frontend/src/types/trim.ts
  frontend/src/utils/mutation.ts
Labels: 🕹️ feature, 🖥️ Frontend

#243 [BE] 마이카이빙에서 북마크한 아카이빙 피드 조회 기능 구현
  backend/src/main/java/softeer/h9/hey/controller/archiving/FeedController.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/FeedDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/request/PaginationRequest.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/response/ArchivingsByUserBookmarkedResponse.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingRepository.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
  backend/src/main/java/softeer/h9/hey/service/car/SelectOptionService.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingSelectedOptionRepositoryTest.java
Labels: 🕹️ feature, 🗄️ backend

#248 [BE] 마이카이빙에서 북마크한 아카이빙 피드 응답에 태그 추가
  backend/src/main/java/softeer/h9/hey/dto/archiving/response/ArchivingDetailResponse.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
Labels: 🕹️ feature, 🗄️ backend

#246 [FE] 로그인 기능 적용
  frontend/src/components/Archiving/DetailDescription/index.tsx
  frontend/src/components/Archiving/SearchBar/index.tsx
  frontend/src/components/MyChiving/MySavedCar/index.tsx
  frontend/src/components/Review/ReviewDescription/index.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/SaveButton/index.tsx
  frontend/src/components/layout/MyCarLayout/index.tsx
  frontend/src/hooks/useAuthMutation.ts
  frontend/src/hooks/useFetchSuspense.ts
  frontend/src/pages/Archiving/Detail/index.tsx
  frontend/src/pages/Color/index.tsx
  frontend/src/pages/Trim/index.tsx
  frontend/src/types/archiving.ts
  frontend/src/types/myChiving.ts
Labels: 🕹️ feature, 🖥️ Frontend

#250 [BE] 아카이빙 카테고리 기능 추가
  backend/src/main/java/softeer/h9/hey/domain/archiving/ArchivingResult.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/SelectOptionDto.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingRepository.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
Labels: 🕹️ feature, 🗄️ backend

#253 [AND] 마이카이빙 네트워크 연결
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/DataModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/MakingCarApiModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/MyArchiveApiModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/NetworkModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/MyArchiveUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/myarchive/MadeCarUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/archiving/archivingdetail/ArchivingDetailScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/DetailItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Dialogs.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/MyArchiveListItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/detail/MyArchiveDetailNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/detail/MyArchiveDetailScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/detail/MyArchiveDetailViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/made/MyArchiveMadeScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/main/MyArchiveMainNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/main/MyArchiveMainScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/main/MyArchiveMainViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/save/MyArchiveSaveScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/DateFormatter.kt
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/ArchivingRemotePagingSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/MyArchiveDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/MyArchiveMadeFeedPagingSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/RemotePagingSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/mapper/MyArchiveMapper.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/MyArchiveDtos.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/MyArchiveNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SignNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/ArchivingRepositoryImpl.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/MyArchiveRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/MyArchiveFeed.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/MyArchiveRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/myarchive/DeleteMadeCarFeedUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/myarchive/GetMadeCarFeedUseCase.kt
Labels: 🕹️ feature, 🎾 android

#255 [AND] 내차만들기 모델 선택 개선 및 옵션 필터링
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/di/NetworkModule.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/ColorOptionUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/mapper/TrimOptionUiModelMapper.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/ColorOptionUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/model/makingcar/SelectModelUiModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/HyundaiAppState.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/BottomBars.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Buttons.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/Dialogs.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ModelSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/OptionSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarKeys.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/complete/CompleteScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/loading/NoOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectmodel/SelectModelScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectoption/SelectOptionViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/myarchive/MyArchivingNavigation.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/util/TransitionSpecGenerator.kt
  android/MyCarchiving/app/src/main/res/drawable/img_no_option.xml
  android/MyCarchiving/app/src/main/res/values/strings.xml
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SelectColorDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/datasource/SelectOptionDataSource.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/model/TrimType.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectColorNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/network/SelectOptionNetworkApi.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectColorRepositoryImpl.kt
  android/MyCarchiving/data/src/main/java/com/softeer/data/repository/SelectOptionRepositoryImpl.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/model/CarColorType.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SelectColorRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/repository/SelectOptionRepository.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetCarCodeUseCase.kt
  android/MyCarchiving/domain/src/main/java/com/softeer/domain/usecase/makingcar/GetCarColorsUseCase.kt
Labels: 🕹️ feature, 🩺 refactor, 🎾 android

#258 [AND]
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/TrimSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
Labels: 🕹️ feature, 🛠️ fix, 🎾 android

#263 [AND] 이미지 라이브러리 Coil로 통일
  android/MyCarchiving/app/build.gradle.kts
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/ColorSelectItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/CompleteItems.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/component/RotateCarImage.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
  android/MyCarchiving/gradle/libs.versions.toml
Labels: 🩺 refactor, 🎾 android

#261 [FE] 아카이빙/마이카이빙 페이지 헤더에 사용자명 및 로그아웃 버튼 추가
  frontend/src/components/common/ArchivingHeader/index.tsx
  frontend/src/components/common/ArchivingHeader/style.tsx
  frontend/src/components/common/Header/style.tsx
Labels: 🕹️ feature, 🖥️ Frontend

#270 [AND] 모델/트림선택 초기화 시 데이터 미갱신 오류 수정
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/MakingCarViewModel.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selectcolor/SelectColorScreen.kt
  android/MyCarchiving/app/src/main/java/com/softeer/mycarchiving/ui/makingcar/selecttrim/SelectTrimScreen.kt
Labels: 🩺 refactor, 🛠️ fix, 🎾 android

#265 [FE] 최종 기능 구현 및 리팩토링
  frontend/src/App.tsx
  frontend/src/components/Archiving/OptionList/index.tsx
  frontend/src/components/Archiving/OptionList/style.tsx
  frontend/src/components/Archiving/OptionSearchBar/index.tsx
  frontend/src/components/Archiving/ReviewCard/index.tsx
  frontend/src/components/MyChiving/FeedList/index.tsx
  frontend/src/components/MyChiving/MyCarList/index.tsx
  frontend/src/components/MyChiving/MyCarList/style.tsx
  frontend/src/components/MyChiving/MyFeed/index.tsx
  frontend/src/components/MyChiving/MySavedCar/index.tsx
  frontend/src/components/MyChiving/NoDataInfo/index.tsx
  frontend/src/components/MyChiving/NoDataInfo/style.tsx
  frontend/src/components/Option/OptionCategory/style.tsx
  frontend/src/components/Review/OptionList/index.tsx
  frontend/src/components/Review/OptionList/style.tsx
  frontend/src/components/Review/ReviewButton/index.tsx
  frontend/src/components/Review/ReviewButton/style.tsx
  frontend/src/components/Review/ReviewDescription/index.tsx
  frontend/src/components/Review/ReviewForm/index.tsx
  frontend/src/components/Review/ReviewOption/index.tsx
  frontend/src/components/Review/ReviewOption/style.tsx
  frontend/src/components/Review/ReviewTag/index.tsx
  frontend/src/components/Review/ReviewTag/style.tsx
  frontend/src/components/common/ArchivingHeader/index.tsx
  frontend/src/components/common/ArchivingHeader/style.tsx
  frontend/src/components/common/EmptyContent/index.tsx
  frontend/src/components/common/EmptyContent/style.tsx
  frontend/src/components/common/EmptyLogo/index.tsx
  frontend/src/components/common/Footer/EstimateModal/style.tsx
  frontend/src/components/common/Footer/index.tsx
  frontend/src/components/common/Footer/style.tsx
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/common/ModalPortal/style.tsx
  frontend/src/components/common/PopupModal/index.tsx
  frontend/src/components/layout/AuthLayout/index.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/hooks/useFetch.ts
  frontend/src/hooks/useInfiniteFetch.ts
  frontend/src/hooks/usePostRequest.ts
  frontend/src/hooks/useValidateToken.ts
  frontend/src/main.tsx
  frontend/src/pages/Archiving/Detail/index.tsx
  frontend/src/pages/Archiving/index.tsx
  frontend/src/pages/Color/index.tsx
  frontend/src/pages/Option/index.tsx
  frontend/src/pages/Review/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/types/archiving.ts
  frontend/src/utils/mutation.ts
Labels: 🕹️ feature, 🩺 refactor, 🖥️ Frontend

#277 [BE] 아카이빙 조회 기능 개선
  backend/src/main/java/softeer/h9/hey/domain/archiving/Archiving.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/ArchivingTags.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ArchivingDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ArchivingSelectedOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/BodyTypeDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/EngineDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ExteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/InteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/TrimDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/WheelDriveDto.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingTagsRepository.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/archiving/ArchivingServiceTest.java
Labels: 🕹️ feature, 🗄️ backend

#278 [FE] 로그아웃 상태/세션 만료 에러 바운더리에 구현
  frontend/src/components/Option/DefaultOptionCardList/index.tsx
  frontend/src/components/common/ArchivingHeader/index.tsx
  frontend/src/components/common/EmptyContent/index.tsx
  frontend/src/components/common/EmptyContent/style.tsx
  frontend/src/components/common/ErrorBoundary/index.tsx
  frontend/src/components/common/Header/index.tsx
  frontend/src/components/layout/AuthLayout/index.tsx
  frontend/src/hooks/useAuthFetch.ts
  frontend/src/hooks/useAuthInfiniteFetch.ts
  frontend/src/hooks/useAuthMutation.ts
  frontend/src/hooks/useErrorHandler.ts
  frontend/src/hooks/useInfiniteFetch.ts
  frontend/src/hooks/usePostRequest.ts
  frontend/src/hooks/useReissueToken.ts
  frontend/src/hooks/useValidateToken.ts
  frontend/src/pages/NotFound/index.tsx
  frontend/src/pages/NotFound/style.tsx
  frontend/src/pages/Option/index.tsx
  frontend/src/pages/Result/index.tsx
  frontend/src/pages/Signin/index.tsx
  frontend/src/pages/Signup/index.tsx
  frontend/src/routes/router.tsx
  frontend/src/utils/CommonError.ts
Labels: 🕹️ feature, 🖥️ Frontend

#280 [BE] 변경 사항 revert
  backend/src/main/java/softeer/h9/hey/domain/archiving/Archiving.java
  backend/src/main/java/softeer/h9/hey/domain/archiving/ArchivingTags.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ArchivingDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ArchivingSelectedOptionDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/BodyTypeDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/EngineDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/ExteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/InteriorColorDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/TrimDto.java
  backend/src/main/java/softeer/h9/hey/dto/archiving/WheelDriveDto.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingRepository.java
  backend/src/main/java/softeer/h9/hey/repository/archiving/ArchivingTagsRepository.java
  backend/src/main/java/softeer/h9/hey/service/archiving/ArchivingService.java
  backend/src/test/java/softeer/h9/hey/repository/archiving/ArchivingRepositoryTest.java
  backend/src/test/java/softeer/h9/hey/service/archiving/ArchivingServiceTest.java
Labels: 🛠️ fix, 🗄️ backend

#282 [FE] 최종 리팩토링
  frontend/src/components/Archiving/OptionList/index.tsx
  frontend/src/components/MyChiving/MySavedCar/index.tsx
  frontend/src/components/MyChiving/MySavedCar/style.tsx
  frontend/src/components/Review/ReviewOption/index.tsx
  frontend/src/components/Review/ReviewOption/style.tsx
  frontend/src/hooks/useAuthInfiniteFetch.ts
  frontend/src/pages/Review/index.tsx
Labels: 🩺 refactor, 🖥️ Frontend
